* {
	border: 0;
	box-sizing: inherit;
	font-weight: normal;
	margin: 0;
	padding: 0;
	}

html {
	box-sizing: border-box;
	font-size: 16px;
	}

body {
	font-family: sans-serif;
	line-height: 1.4em;
	}

::selection {
	background-color: rgb(255, 255, 0);
	}

a:link {
	color: rgb(0, 0, 150);
	text-decoration: none;
	}

a:visited {
	text-decoration: none;
	}

a:hover {
	text-decoration: underline;
	}

blockquote {
	background-color: rgba(0, 0, 0, .03);
	margin: 1em auto;
	padding: 1em;
	}

h1, h2, h3 {
	font-family: serif;
	line-height: 1em;
	margin: 1em auto;
	}

h1 {
	font-size: 2rem;
	margin-top: 0;
	}

h2 {
	border-bottom: 1px solid rgba(0, 0, 0, .5);
	font-size: 1.7rem;
	padding: .5em 0;
	}

h3 {
	font-weight: bold;
	font-size: 1.5rem;
	}

li {
	margin: .5em;
	}

main {
	margin: 1rem;
	}

nav {
	background-color: rgba(0, 0, 0, .03);
	border: 1px solid rgba(0, 0, 0, .05);
	font-size: .8rem;
	padding: 1em;
	}

nav ol {
	list-style: none;
	margin: 0;
	}

nav ol ol {
	margin-left: 1em;
	}

ol {
	list-style: decimal outside;
	margin-left: 1em;
	}

p {
	margin: 1em auto;
	text-indent: 1em;
	}


/* -- IDs -- */

#author {
	border-bottom: 1px dotted rgba(0, 0, 0, .5);
	font-weight: bold;
	padding-bottom: 1em;
	text-indent: 0;
	}

#toc {
	font-size: .9rem;
	font-weight: bold;
	margin-top: .5em;
	text-indent: 0;
	}


/* -- Classes -- */

.credit {
	display: block;
	font-size: .9rem;
	margin-top: .5em;
	text-align: right;
	}

.first {
	text-indent: 0;
	}

.hidden {
	display: none;
	}


/* -- Responsive -- */

@media screen and (max-width: 36.99rem) {
	main {
		margin: 1rem;
		}
	}

@media screen and (min-width: 37rem) {
	main {
		margin: 1rem auto;
		max-width: 35rem;
		}
	}
